*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(227, 222, 222);
}
.container{
    width: 100%;
    
    max-width: 300px;
    position: relative;
    padding: 20px 20px 20px ;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;

}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);

    gap: 10px;
    margin-top: 15px;
}
.display{
    height: 120px;
    width: 100%;
    font-size: 25px;
    outline: none;
    margin-top: 15px;
    text-align: right;
    pointer-events: none;
}
.buttons button{
    padding: 10px;
    border-radius: 6px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: #eee;

}
.buttons button:active{
    transform: scale(0.99);
}
.operator{
    color: #2f9fff;
}